*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #4facfe,
        #00f2fe
    );
}

.container{
    width:100%;
    max-width:500px;
    padding:20px;
}

.card{

    background:white;

    border-radius:30px;

    padding:35px;

    text-align:center;

    box-shadow:
    0 15px 40px rgba(0,0,0,.2);

    backdrop-filter: blur(10px);
}

.card h1:first-child{

    color:#008cff;
    margin-bottom:8px;
}

.subtitulo{

    color:#666;
    margin-bottom:20px;
}

.cidade{

    margin-bottom:15px;
}

#local{

    color:#333;
    font-size:1.6rem;
    font-weight:600;
}

.data-hora{

    margin-top:10px;
}

.data-hora p{

    color:#666;
    font-size:0.95rem;
    margin:3px 0;
}

#data::before{
    content:"📅 ";
}

#hora::before{
    content:"🕒 ";
}

#icone{

    width:130px;
    height:130px;

    margin:10px auto;
}

#temperatura{

    font-size:4rem;
    color:#333;
}

#descricao{

    color:#666;
    margin-top:10px;
    text-transform:capitalize;
}

.info{

    display:flex;
    justify-content:space-between;

    gap:15px;

    margin-top:25px;
}

.box{

    flex:1;

    background:#f4f7fa;

    padding:15px;

    border-radius:18px;
}

.box span{

    display:block;

    color:#666;

    margin-bottom:8px;
}

.box strong{

    font-size:1.2rem;
    color:#222;
}

button{

    margin-top:25px;

    border:none;

    background:#008cff;

    color:white;

    padding:14px 25px;

    border-radius:15px;

    cursor:pointer;

    font-size:1rem;

    transition:.3s;
}

button:hover{

    background:#006fd6;

    transform:translateY(-2px);
}

@media(max-width:500px){

    .card{

        padding:25px;
    }

    #temperatura{

        font-size:3rem;
    }

    .info{

        flex-direction:column;
    }
}